@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container py-5">
    <a asp-area="Admin" asp-controller="RealEstate" asp-action="Index" class="btn btn-warning mt-3">
        Manage Properties
    </a>
</div>