@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
        <i class="material-icons me-2">check_circle</i>
        <div>
            @TempData["SuccessMessage"]
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
        <i class="material-icons me-2">error</i>
        <div>
            @TempData["ErrorMessage"]
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}